# Core Web & App
fastapi
uvicorn
python-multipart
jinja2
requests
python-dotenv
aiofiles

# Database
sqlalchemy
lancedb
huey

# Image & Vision
opencv-python
pillow
pillow_heif

# Face Recognition
insightface>=0.7
onnxruntime
# Utilities
tqdm
google-generativeai
geopy
deep-translator
imagehash
tenacity
